body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

/* HEADER */
.header {
  background: #fde9a9;
  padding: 20px 0px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 120px;
  height: auto;
}

.brand-text h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.brand-text p {
  margin: 0;
  font-size: 14px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.navbar a,
.dropbtn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 230px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: black;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
